In [9]:
# Technical Indicators
import tablib as ta

# Plotting graphs
import matplotlib.pyplot as plt

import numpy as np

# Machine learning
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import cross_val_score

# Data fetching
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

In [7]:
df = pdr.get_data_yahoo('AAPL', '2000-01-01', '2022-11-03')
df = df.dropna()
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,0.936384,1.004464,0.907924,0.999442,0.853355,535796800
2000-01-04,0.966518,0.987723,0.903460,0.915179,0.781409,512377600
2000-01-05,0.926339,0.987165,0.919643,0.928571,0.792844,778321600
2000-01-06,0.947545,0.955357,0.848214,0.848214,0.724232,767972800
2000-01-07,0.861607,0.901786,0.852679,0.888393,0.758538,460734400
...,...,...,...,...,...,...
2022-10-27,148.070007,149.050003,144.130005,144.800003,144.800003,109180200
2022-10-28,148.199997,157.500000,147.820007,155.740005,155.740005,164762400
2022-10-31,153.160004,154.240005,151.919998,153.339996,153.339996,97943200
2022-11-01,155.080002,155.449997,149.130005,150.649994,150.649994,80379300
2022-11-02,148.949997,152.169998,145.000000,145.029999,145.029999,93436100

In [12]:
df['S_10'] = df['Close'].rolling(window=10).mean()
df['Corr'] = df['Close'].rolling(window=10).corr(df['S_10'])
df['Open-Close'] = df['Open'] - df['Close'].shift(1)
df['Open-Open'] = df['Open'] - df['Open'].shift(1)
df = df.dropna()

In [13]:
df

,Open,High,Low,Close,Adj Close,Volume,S_10,Corr,Open-Close,Open-Open
Date,,,,,,,,,,
2000-01-28,0.965960,0.989955,0.898438,0.907366,0.774738,423348800,0.960770,0.093670,-0.016183,-0.005580
2000-01-31,0.901786,0.927455,0.843750,0.926339,0.790938,701680000,0.963728,-0.252140,-0.005580,-0.064174
2000-02-01,0.928571,0.937500,0.892857,0.895089,0.764255,318035200,0.960435,-0.577431,0.002232,0.026785
2000-02-02,0.899554,0.911830,0.866071,0.882254,0.753297,464195200,0.953516,-0.724871,0.004465,-0.029017
2000-02-03,0.895647,0.930804,0.895089,0.922433,0.787603,475193600,0.944420,-0.641741,0.013393,-0.003907
...,...,...,...,...,...,...,...,...,...,...
2022-10-27,148.070007,149.050003,144.130005,144.800003,144.800003,109180200,145.500002,0.547081,-1.279999,-2.889999
2022-10-28,148.199997,157.500000,147.820007,155.740005,155.740005,164762400,147.236002,0.751725,3.399994,0.129990
2022-10-31,153.160004,154.240005,151.919998,153.339996,153.339996,97943200,148.329001,0.778834,-2.580002,4.960007
2022-11-01,155.080002,155.449997,149.130005,150.649994,150.649994,80379300,149.019000,0.703177,1.740005,1.919998
2022-11-02,148.949997,152.169998,145.000000,145.029999,145.029999,93436100,149.136000,0.378043,-1.699997,-6.130005