In [2]:
# Technical Indicators
import tablib as ta

# Plotting graphs
import matplotlib.pyplot as plt

import numpy as np

from pandas_profiling import ProfileReport

# Machine learning
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import cross_val_score

# Data fetching
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

In [3]:
df = pdr.get_data_yahoo('AAPL', '2000-01-01', '2022-11-03')
df = df.dropna()
df

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AAPL: No data found for this date range, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [4]:
df['S_10'] = df['Close'].rolling(window=10).mean()
df['Corr'] = df['Close'].rolling(window=10).corr(df['S_10'])
df['Open-Close'] = df['Open'] - df['Close'].shift(1)
df['Open-Open'] = df['Open'] - df['Open'].shift(1)
df = df.dropna()

In [5]:
df

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume, S_10, Corr, Open-Close, Open-Open]
Index: []

In [6]:
profile = ProfileReport(df)