### Problem Statement

Create a pandas dataframe with student data, impute values and calculate the average of a feature.

---

Import necessary libraries.

In [52]:
import pandas as pd
import numpy as np
import random

Define the number of students (i.e., records) to generate data for. Then, generate two lists, one for height and another for weight, of those students.

In [53]:
numberOfStudents = 1000

listOfHeights = [random.randint(130, 200) for i in range(numberOfStudents)]
listOfWeights = [random.randint(50, 150) for i in range(numberOfStudents)]

Arrange the generated data into a pandas dataframe.

In [64]:
df = pd.DataFrame(data = {
        'Student ID': list(np.arange(1, numberOfStudents + 1)),
        'Student Weights (kgs)': listOfWeights,
        'Student Heights (cms)': listOfHeights 
    }   
)

df.set_index('Student ID')

            Student Weights (kgs)  Student Heights (cms)
Student ID
1                              85                    138
2                              52                    194
3                              93                    137
4                              66                    189
5                             115                    170
...                           ...                    ...
996                            82                    181
997                            81                    136
998                           145                    147
999                           111                    153
1000                           91                    156

[1000 rows x 2 columns]

Describe summary statistics of the dataframe.

In [57]:
df.describe()

        Student ID  Student Weights (kgs)  Student Heights (cms)
count  1000.000000            1000.000000            1000.000000
mean    500.500000              98.914000             165.465000
std     288.819436              29.430235              20.292969
min       1.000000              50.000000             130.000000
25%     250.750000              74.000000             148.750000
50%     500.500000              99.000000             164.000000
75%     750.250000             123.000000             183.000000
max    1000.000000             150.000000             200.000000

Calculate the averages of weights and heights of all students and print them out.

In [62]:
meanStudentHeight = df['Student Heights (cms)'].mean()
meanStudentWeight = df['Student Weights (kgs)'].mean()

print('The average student height in cms is:', meanStudentHeight, 'cm')
print('The average student weight in kgs is:', meanStudentWeight, 'kg')

The average student height in cms is: 165.465 cm
The average student weight in kgs is: 98.914 kg

---