# 0. Installing dependencies

In [1]:
# Importing libraries
import matplotlib.pyplot as plt
import plotly.express as px

import seaborn as sns
import pandas as pd
import numpy as np
import torch

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

# 1. Loading data

In [2]:
# Loading downloaded FIDE data into pandas
csvPath = r'C:\Users\deshi\code\cemetery-of-culture\year-3\neural-networks\2-eda-and-tensors\Chess FIDE Rankings.csv'

df = pd.read_csv(csvPath)

In [3]:
# Printing the dataset
df

,rank,name,ELO,title,federation,games,birth_year
0,1,Magnus Carlsen,2864,GM,Norway,3125,1990
1,2,Liren Ding,2806,GM,China,1630,1992
2,3,Alireza Firouzja,2793,GM,France,845,2003
3,4,Fabiano Caruana,2783,GM,United States,2622,1992
4,5,Levon Aronian,2775,GM,United States,3320,1982
...,...,...,...,...,...,...,...
195,196,Boris Alterman,2608,GM,Israel,697,1970
196,197,Chithambaram VR Aravindh,2608,GM,India,535,1999
197,198,Jonas Buhl Bjerre,2608,GM,Denmark,411,2004
198,199,Surya Shekhar Ganguly,2608,GM,India,1811,1983
199,200,Vadim Milov,2608,GM,Switzerland,1583,1972

# 2. Data cleaning

In [4]:
# Print data types of all the cols
df.dtypes

rank            int64
name           object
ELO             int64
title          object
federation     object
games           int64
birth_year      int64
dtype: object

In [5]:
# Updating the column names
newColList = [
    'Rank',
    'Name',
    'Rating',
    'Title',
    'Federation',
    'Games Played',
    'Year of Birth'
]

df.columns = newColList

In [6]:
# Columns of the dataset as a list
df.columns.to_list()

['Rank',
 'Name',
 'Rating',
 'Title',
 'Federation',
 'Games Played',
 'Year of Birth']

In [7]:
df = df.set_index('Rank')

In [8]:
df

,Name,Rating,Title,Federation,Games Played,Year of Birth
Rank,,,,,,
1,Magnus Carlsen,2864,GM,Norway,3125,1990
2,Liren Ding,2806,GM,China,1630,1992
3,Alireza Firouzja,2793,GM,France,845,2003
4,Fabiano Caruana,2783,GM,United States,2622,1992
5,Levon Aronian,2775,GM,United States,3320,1982
...,...,...,...,...,...,...
196,Boris Alterman,2608,GM,Israel,697,1970
197,Chithambaram VR Aravindh,2608,GM,India,535,1999
198,Jonas Buhl Bjerre,2608,GM,Denmark,411,2004
199,Surya Shekhar Ganguly,2608,GM,India,1811,1983
200,Vadim Milov,2608,GM,Switzerland,1583,1972

In [9]:
df.drop('Title', axis=1, inplace=True)

# 3. Exploring the data

In [10]:
# Display number of dimensions
df.ndim

2

In [11]:
# Display 
df.size

1000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           200 non-null    object
 1   Rating         200 non-null    int64
 2   Federation     200 non-null    object
 3   Games Played   200 non-null    int64
 4   Year of Birth  200 non-null    int64
dtypes: int64(3), object(2)
memory usage: 9.4+ KB

In [13]:
# Check the shape of data
df.shape

(200, 5)

In [14]:
df.describe()

            Rating  Games Played  Year of Birth
count   200.000000    200.000000     200.000000
mean   2662.385000   1394.185000    1989.395000
std      47.208793    776.177129       9.057548
min    2608.000000    277.000000    1965.000000
25%    2623.750000    785.000000    1984.000000
50%    2650.500000   1211.000000    1990.000000
75%    2686.000000   1784.000000    1996.000000
max    2864.000000   3913.000000    2006.000000

In [15]:
# Easier command to display the list of columns
list(df)

['Name', 'Rating', 'Federation', 'Games Played', 'Year of Birth']

In [16]:
# Stats for games played
df['Games Played'].describe()

count     200.000000
mean     1394.185000
std       776.177129
min       277.000000
25%       785.000000
50%      1211.000000
75%      1784.000000
max      3913.000000
Name: Games Played, dtype: float64

In [17]:
# Stats for rating points
df['Rating'].describe()

count     200.000000
mean     2662.385000
std        47.208793
min      2608.000000
25%      2623.750000
50%      2650.500000
75%      2686.000000
max      2864.000000
Name: Rating, dtype: float64

In [18]:
# All the top chess players with a rating of more than 2700
df[
    df['Rating'] > 2700
]

,Name,Rating,Federation,Games Played,Year of Birth
Rank,,,,,
1,Magnus Carlsen,2864,Norway,3125,1990
2,Liren Ding,2806,China,1630,1992
3,Alireza Firouzja,2793,France,845,2003
4,Fabiano Caruana,2783,United States,2622,1992
5,Levon Aronian,2775,United States,3320,1982
6,Wesley So,2773,United States,1902,1993
7,Ian Nepomniachtchi,2766,Russian Federation,2297,1990
8,Richard Rapport,2764,Hungary,1278,1996
9,Anish Giri,2760,Netherlands,2209,1994
10,Hikaru Nakamura,2760,United States,3147,1987
11,Maxime Vachier Lagrave,2760,France,2899,1990
12,Shakhriyar Mamedyarov,2759,Azerbaijan,3003,1985
13,Viswanathan Anand,2756,India,3913,1969
14,Leinier Dominguez Perez,2754,United States,1301,1983
15,Jan Krzysztof Duda,2750,Poland,1213,1998
16,Sergey Karjakin,2747,Russian Federation,2932,1990
17,Alexander Grischuk,2745,Russian Federation,3235,1983
18,Teimour Radjabov,2738,Azerbaijan,1996,1987
19,Hao Wang,2735,China,1723,1989
20,Dmitry Andreikin,2729,FIDE,1567,1990
21,Veselin Topalov,2728,Bulgaria,2383,1975
22,Yi Wei,2727,China,979,1999
23,Quang Liem Le,2722,Viet Nam,1725,1991
24,Nikita Vitiugov,2722,FIDE,1768,1987
25,Pentala Harikrishna,2720,India,2220,1986
26,Sam Shankland,2720,United States,1007,1991
27,Yangyi Yu,2720,China,1497,1994
28,Santosh Gujrathi Vidit,2714,India,1144,1994
29,Xiangzhi Bu,2709,China,1573,1985
30,Kirill Alekseenko,2708,FIDE,885,1997
31,Radoslaw Wojtaszek,2708,Poland,2201,1987
32,Alexei Shirov,2704,Spain,3578,1972
33,Daniil Dubov,2702,Russian Federation,1635,1996
34,Evgeny Tomashevsky,2702,Russian Federation,1544,1987
35,Francisco Vallejo Pons,2702,Spain,2306,1982
36,Parham Maghsoodloo,2701,Iran,788,2000

In [19]:
# Find all the players born in the 00s
df[
    df['Year of Birth'] >= 2000
].sort_values(
    by=['Year of Birth'], 
    ascending=False
)

,Name,Rating,Federation,Games Played,Year of Birth
Rank,,,,,
53,Gukesh D,2684,India,569,2006
187,Raunak Sadhwani,2611,India,511,2005
144,Javokhir Sindarov,2629,Uzbekistan,389,2005
107,Praggnanandhaa R,2648,India,496,2005
198,Jonas Buhl Bjerre,2608,Denmark,411,2004
100,Nihal Sarin,2651,India,676,2004
45,Nodirbek Abdusattorov,2688,Uzbekistan,570,2004
50,Vincent Keymer,2686,Germany,392,2004
148,Awonder Liang,2625,United States,429,2003
3,Alireza Firouzja,2793,France,845,2003
44,Erigaisi Arjun,2689,India,514,2003
47,Hans Moke Niemann,2688,United States,518,2003
95,Kirill Shevchenko,2654,Ukraine,551,2002
161,Nodirbek Yakubboev,2620,Uzbekistan,364,2002
58,Andrey Esipenko,2682,FIDE,949,2002
88,Shant Sargsyan,2661,Armenia,511,2002
86,M. Amin Tabatabaei,2664,Iran,606,2001
143,Thai Dai Van Nguyen,2629,Czech Republic,732,2001
181,Aram Hakobyan,2612,Armenia,485,2001
41,Bogdan-Daniel Deac,2692,Romania,689,2001
188,Aryan Chopra,2610,India,277,2001
36,Parham Maghsoodloo,2701,Iran,788,2000
55,Samuel Sevian,2684,United States,703,2000
74,Haik M Martirosyan,2672,Armenia,588,2000
43,Jeffery Xiong,2691,United States,776,2000
82,Alexey Sarana,2668,FIDE,1020,2000
183,Abhimanyu Puranik,2612,India,539,2000
193,Max Warmerdam,2610,Netherlands,421,2000

In [20]:
# Finding out highest rated player born in the 90s
df[
    (df['Rating'] > 2700) & (df['Year of Birth'] > 1990)
]

,Name,Rating,Federation,Games Played,Year of Birth
Rank,,,,,
2,Liren Ding,2806,China,1630,1992
3,Alireza Firouzja,2793,France,845,2003
4,Fabiano Caruana,2783,United States,2622,1992
6,Wesley So,2773,United States,1902,1993
8,Richard Rapport,2764,Hungary,1278,1996
9,Anish Giri,2760,Netherlands,2209,1994
15,Jan Krzysztof Duda,2750,Poland,1213,1998
22,Yi Wei,2727,China,979,1999
23,Quang Liem Le,2722,Viet Nam,1725,1991
26,Sam Shankland,2720,United States,1007,1991
27,Yangyi Yu,2720,China,1497,1994
28,Santosh Gujrathi Vidit,2714,India,1144,1994
30,Kirill Alekseenko,2708,FIDE,885,1997
33,Daniil Dubov,2702,Russian Federation,1635,1996
36,Parham Maghsoodloo,2701,Iran,788,2000

In [21]:
# Finding out player with the least amount of games
df.sort_values(
    by=['Games Played'],
    ascending=True
).head(10)

,Name,Rating,Federation,Games Played,Year of Birth
Rank,,,,,
188,Aryan Chopra,2610,India,277,2001
157,Cristobal Henriquez Villagra,2620,Chile,320,1996
161,Nodirbek Yakubboev,2620,Uzbekistan,364,2002
84,Qun Ma,2666,China,366,1991
144,Javokhir Sindarov,2629,Uzbekistan,389,2005
50,Vincent Keymer,2686,Germany,392,2004
198,Jonas Buhl Bjerre,2608,Denmark,411,2004
176,Neuris Delgado Ramirez,2614,Paraguay,415,1981
193,Max Warmerdam,2610,Netherlands,421,2000
148,Awonder Liang,2625,United States,429,2003

In [22]:
df.sort_values(
    by=['Games Played'], 
    ascending=False
).head(10)

,Name,Rating,Federation,Games Played,Year of Birth
Rank,,,,,
13,Viswanathan Anand,2756,India,3913,1969
150,Loek Van Wely,2624,Netherlands,3749,1972
32,Alexei Shirov,2704,Spain,3578,1972
79,Boris Gelfand,2668,Israel,3394,1968
190,Aleksey Dreev,2610,Russian Federation,3360,1969
5,Levon Aronian,2775,United States,3320,1982
57,Peter Svidler,2683,Russian Federation,3260,1976
17,Alexander Grischuk,2745,Russian Federation,3235,1983
10,Hikaru Nakamura,2760,United States,3147,1987
1,Magnus Carlsen,2864,Norway,3125,1990

In [23]:
df['Federation'].value_counts()

Russian Federation       22
United States            19
India                    17
Ukraine                  13
FIDE                     12
China                    12
Germany                   9
Armenia                   9
France                    7
Azerbaijan                7
Spain                     6
Netherlands               6
United Kingdom            5
Poland                    5
Hungary                   5
Israel                    4
Uzbekistan                4
Czech Republic            3
Norway                    3
Iran                      3
Romania                   2
Viet Nam                  2
Croatia                   2
Bulgaria                  2
Argentina                 2
Serbia                    2
Tajikistan                1
Denmark                   1
Uruguay                   1
Paraguay                  1
Italy                     1
Kazakhstan                1
Chile                     1
Turkey                    1
Canada                    1
Slovenia                  1
Greece                    1
Peru                      1
Austria                   1
Sweden                    1
Egypt                     1
United Arab Emirates      1
Switzerland               1
Name: Federation, dtype: int64

In [24]:
df.corr()

                 Rating  Games Played  Year of Birth
Rating         1.000000      0.390230       0.078851
Games Played   0.390230      1.000000      -0.674625
Year of Birth  0.078851     -0.674625       1.000000

# 4. Data Visualisation

In [25]:
plt.figure(figsize=(18, 3))
px.treemap(df, path=['Federation'], title='')

In [26]:
# plt.figure(figsize=(8, 8))
# sns.regplot(data=df, x='Games Played', y='Rating')

In [27]:
df.corr()

                 Rating  Games Played  Year of Birth
Rating         1.000000      0.390230       0.078851
Games Played   0.390230      1.000000      -0.674625
Year of Birth  0.078851     -0.674625       1.000000

In [28]:
sns.heatmap(data=df.corr())

:

: