In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("player_mvp_stats.csv", index_col=0)

In [3]:
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,0.484,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14088,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,0.286,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14089,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,0.470,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14090,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,0.459,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14091,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,0.455,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [4]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          50
3P            0
3PA           0
3P%        2042
2P            0
2PA           0
2P%          84
eFG%         50
FT            0
FTA           0
FT%         462
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [5]:
stats[pd.isnull(stats["3P%"])][["Player", "3PA"]].head()

             Player  3PA
2    Elden Campbell  0.0
3     Irving Thomas  0.0
18       Jack Haley  0.0
20      Keith Owens  0.0
30  Benoit Benjamin  0.0

In [6]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]].head()

              Player  FTA
77        John Coker  0.0
92      Jason Sasser  0.0
103  Adrian Caldwell  0.0
119     Bruno Šundov  0.0
158   Jamal Robinson  0.0

In [7]:
stats = stats.fillna(0)

In [8]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [9]:
predictors = ["Age", "G", "GS", "MP", "FG", "FGA", 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'W', 'L', 'W/L%',
       'GB', 'PS/G', 'PA/G', 'SRS']

In [10]:
train = stats[~(stats["Year"] == 2021)]
test = stats[stats["Year"] == 2021]

In [11]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

In [12]:
reg.fit(train[predictors],train["Share"])

Ridge(alpha=0.1)

In [13]:
predictions = reg.predict(test[predictors])
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [14]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [15]:
combination.sort_values("Share", ascending=False).head(20)

                      Player  Share  predictions
641             Nikola Jokić  0.961     0.155155
8624             Joel Embiid  0.580     0.163637
3651           Stephen Curry  0.449     0.142490
9907   Giannis Antetokounmpo  0.345     0.206428
1389              Chris Paul  0.138     0.073984
10997            Luka Dončić  0.042     0.150260
7464          Damian Lillard  0.038     0.116646
3536           Julius Randle  0.020     0.089415
3531            Derrick Rose  0.010     0.035417
11358            Rudy Gobert  0.008     0.095294
3876       Russell Westbrook  0.005     0.120053
8616             Ben Simmons  0.003     0.064743
4174            James Harden  0.001     0.139975
5328           Kawhi Leonard  0.001     0.114312
3736            LeBron James  0.001     0.147459
9909             Jeff Teague  0.000    -0.007576
10672        Jalen McDaniels  0.000    -0.010576
10671           Grant Riller  0.000    -0.004480
10670         Gordon Hayward  0.000     0.041892
10669        Devonte' Graham  0.000     0.015287

In [16]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.002666683168763698

In [17]:
combination["Share"].value_counts()

0.000    525
0.001      3
0.961      1
0.138      1
0.010      1
0.020      1
0.449      1
0.005      1
0.038      1
0.003      1
0.580      1
0.345      1
0.042      1
0.008      1
Name: Share, dtype: int64

In [18]:
actual = combination.sort_values("Share", ascending=False)
predicted = combination.sort_values("predictions", ascending=False)
actual["Rk"] = list(range(1,actual.shape[0]+1))
predicted["Predicted_Rk"] = list(range(1,predicted.shape[0]+1))

In [19]:
actual.merge(predicted, on="Player").head(5)

,Player,Share_x,predictions_x,Rk,Share_y,predictions_y,Predicted_Rk
0,Nikola Jokić,0.961,0.155155,1,0.961,0.155155,3
1,Joel Embiid,0.580,0.163637,2,0.580,0.163637,2
2,Stephen Curry,0.449,0.142490,3,0.449,0.142490,6
3,Giannis Antetokounmpo,0.345,0.206428,4,0.345,0.206428,1
4,Chris Paul,0.138,0.073984,5,0.138,0.073984,33

In [20]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen = 1
    for index,row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found / seen)
        seen += 1

    return sum(ps) / len(ps)

In [21]:
ap = find_ap(combination)

In [22]:
ap

0.7636363636363636

In [23]:
years = list(range(1991,2022))

In [24]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors],train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [25]:
sum(aps) / len(aps)

0.7110668523458931

In [26]:
def add_ranks(predictions):
    predictions = predictions.sort_values("predictions", ascending=False)
    predictions["Predicted_Rk"] = list(range(1,predictions.shape[0]+1))
    predictions = predictions.sort_values("Share", ascending=False)
    predictions["Rk"] = list(range(1,predictions.shape[0]+1))
    predictions["Diff"] = (predictions["Rk"] - predictions["Predicted_Rk"])
    return predictions

In [27]:
add_ranks(all_predictions[1])

                Player  Share  predictions  Predicted_Rk   Rk  Diff
1600       Karl Malone  0.857     0.192360             2    1    -1
10524   Michael Jordan  0.832     0.167672             3    2    -1
908         Grant Hill  0.327     0.128664             6    3    -3
4682      Tim Hardaway  0.207     0.059992            20    4   -16
8248         Glen Rice  0.117     0.033122            53    5   -48
...                ...    ...          ...           ...  ...   ...
10136   Horacio Llamas  0.000     0.010225           156  437   281
3576     Ennis Whatley  0.000     0.010287           155  438   283
10594  Kevin Salvadori  0.000     0.010594           154  439   285
1138    Aaron Williams  0.000     0.010608           153  440   287
6792     Melvin Booker  0.000    -0.055141           441  441     0

[441 rows x 6 columns]

In [28]:
def backtest(stats, model, years, predictors):
    aps = []
    all_predictions = []
    for year in years:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors],train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [29]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [30]:
mean_ap

0.7110668523458931

In [31]:
all_predictions[all_predictions["Rk"] < 5].sort_values("Diff").head(10)

                Player  Share  predictions  Predicted_Rk  Rk  Diff
1224        Jason Kidd  0.712     0.027956            52   2   -50
5175        Steve Nash  0.839     0.032686            47   1   -46
8516   Peja Stojaković  0.228     0.035581            39   4   -35
5193        Steve Nash  0.739     0.051337            35   1   -34
12726      Joakim Noah  0.258     0.047390            37   4   -33
5208        Steve Nash  0.785     0.070790            23   2   -21
4682      Tim Hardaway  0.207     0.059992            20   4   -16
937      Allen Iverson  0.270     0.071899            14   4   -10
6746       Kobe Bryant  0.291     0.077829            14   4   -10
1157       Gary Payton  0.372     0.076145            13   3   -10

In [32]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0     1
13  0.065312  eFG%
18  0.034362   DRB
28  0.028501  W/L%
17  0.021790   ORB
10  0.015914    2P
21  0.012054   STL
15  0.011474   FTA
22  0.011175   BLK
20  0.007435   AST
25  0.006140   PTS
4   0.005893    FG
5   0.005526   FGA
7   0.004922    3P
12  0.003043   2P%
0   0.000361   Age
29  0.000314    GB
26  0.000114     W
1   0.000096     G
2  -0.000005    GS
27 -0.000308     L
31 -0.000326  PA/G
30 -0.000500  PS/G
32 -0.000609   SRS
24 -0.002366    PF
3  -0.004164    MP
16 -0.004287   FT%
14 -0.006911    FT
23 -0.009442   TOV
9  -0.009815   3P%
8  -0.011057   3PA
11 -0.017115   2PA
19 -0.027270   TRB
6  -0.130269   FG%

In [33]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [34]:
stats[["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [35]:
predictors += ["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [36]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [37]:
mean_ap

0.7180143406004313

In [38]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [39]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=50, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[28:], predictors + ["NPos", "NTm"])

In [40]:
mean_ap

0.8544707580001697

In [41]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[28:], predictors)

In [42]:
mean_ap

0.7981818181818182

In [43]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [44]:
def backtest(stats, model, years, predictors):
    aps = []
    all_predictions = []
    for year in years:
        train = stats[stats["Year"] < year].copy()
        test = stats[stats["Year"] == year].copy()
        sc.fit(train[predictors])
        train[predictors] = sc.transform(train[predictors])
        test[predictors] = sc.transform(test[predictors])
        model.fit(train[predictors],train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [45]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[28:], predictors)

In [46]:
mean_ap

0.7981818181818182

In [47]:
sc.transform(stats[predictors])

array([[ 0.04758869,  1.15207811, -0.1657698 , ..., -0.05582165,
        -0.27719578, -0.38154061],
       [ 0.51919526,  1.15207811,  1.91917626, ...,  0.93001944,
        -0.27719578,  2.77745153],
       [-1.13142771, -0.03932364, -0.88353811, ..., -1.04166274,
         0.48509261, -0.77641463],
       ...,
       [-0.42401787,  0.04010314, -0.47338479, ...,  0.17152606,
         1.31341113, -0.37208834],
       [-1.83883755,  0.15924332,  0.27856297, ..., -0.97670625,
         0.23224953, -0.27100677],
       [-0.42401787,  1.07265133,  1.85081738, ...,  0.17152606,
        -0.41644743,  1.04305367]])