# Experiment 3 - Report Model's Accuracy

## Importing and fitting data

Importing dependencies.

In [110]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler

import pandas as pd

import statsmodels.api as sm

Read data from a csv file.

In [111]:
data = pd.read_csv('housing-data.csv')
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [112]:
data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [113]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [114]:
data.isna().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [115]:
data.shape

(545, 13)

In [117]:
categoricalColumns = data.select_dtypes(include='O').keys()
categoricalColumns

Index(['mainroad', 'guestroom', 'basement', 'hotwaterheating',
       'airconditioning', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [118]:
categoricalDf = pd.read_csv('housing-data.csv', usecols=categoricalColumns)
categoricalDf.head()

,mainroad,guestroom,basement,hotwaterheating,airconditioning,prefarea,furnishingstatus
0,yes,no,no,no,yes,yes,furnished
1,yes,no,no,no,yes,no,furnished
2,yes,no,yes,no,no,yes,semi-furnished
3,yes,no,yes,no,yes,yes,furnished
4,yes,yes,yes,no,yes,no,furnished

In [119]:
for column in categoricalDf.columns:
    print(column, ':', len(categoricalDf[column].unique()))

mainroad : 2
guestroom : 2
basement : 2
hotwaterheating : 2
airconditioning : 2
prefarea : 2
furnishingstatus : 3

In [120]:
data = pd.get_dummies(data, categoricalColumns)
data.head()

,price,area,bedrooms,bathrooms,stories,parking,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,...,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,2,0,1,1,0,...,0,1,0,0,1,0,1,1,0,0
1,12250000,8960,4,4,4,3,0,1,1,0,...,0,1,0,0,1,1,0,1,0,0
2,12250000,9960,3,2,2,2,0,1,1,0,...,1,1,0,1,0,0,1,0,1,0
3,12215000,7500,4,2,2,3,0,1,1,0,...,1,1,0,0,1,0,1,1,0,0
4,11410000,7420,4,1,2,2,0,1,0,1,...,1,1,0,0,1,1,0,1,0,0

In [121]:
X = data.drop(["price"], axis=1)
t = data["price"]

In [122]:
X.head()

,area,bedrooms,bathrooms,stories,parking,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,basement_no,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,7420,4,2,3,2,0,1,1,0,1,0,1,0,0,1,0,1,1,0,0
1,8960,4,4,4,3,0,1,1,0,1,0,1,0,0,1,1,0,1,0,0
2,9960,3,2,2,2,0,1,1,0,0,1,1,0,1,0,0,1,0,1,0
3,7500,4,2,2,3,0,1,1,0,0,1,1,0,0,1,0,1,1,0,0
4,7420,4,1,2,2,0,1,0,1,0,1,1,0,0,1,1,0,1,0,0

In [123]:
t.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [124]:
X = MinMaxScaler().fit_transform(X)

In [125]:
X = X[:, :].tolist()
t = t[:].tolist()

In [126]:
X = sm.add_constant(X)
 
result = sm.OLS(t, X).fit()

print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.682
Model:                            OLS   Adj. R-squared:                  0.674
Method:                 Least Squares   F-statistic:                     87.52
Date:                Tue, 31 Jan 2023   Prob (F-statistic):          9.07e-123
Time:                        10:15:03   Log-Likelihood:                -8331.5
No. Observations:                 545   AIC:                         1.669e+04
Df Residuals:                     531   BIC:                         1.675e+04
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       8.235e+05   4.79e+04     17.207      0.000    7.29e+05    9.17e+05
x1          3.552e+06   3.53e+05     10.052      0.000    2.86e+06    4.25e+06
x2          5.739e+05   3.63e+05      1.581      0.114   -1.39e+05    1.29e+06
x3          2.963e+06    3.1e+05      9.555      0.000    2.35e+06    3.57e+06
x4          1.353e+06   1.93e+05      7.026      0.000    9.74e+05    1.73e+06
x5          8.313e+05   1.76e+05      4.735      0.000    4.86e+05    1.18e+06
x6          2.011e+05   7.98e+04      2.520      0.012    4.43e+04    3.58e+05
x7          6.224e+05   6.99e+04      8.901      0.000    4.85e+05     7.6e+05
x8          2.615e+05   6.54e+04      3.998      0.000    1.33e+05     3.9e+05
x9           5.62e+05   7.45e+04      7.549      0.000    4.16e+05    7.08e+05
x10         2.367e+05   6.05e+04      3.913      0.000    1.18e+05    3.55e+05
x11         5.868e+05   5.97e+04      9.823      0.000    4.69e+05    7.04e+05
x12          -1.6e+04      1e+05     -0.159      0.874   -2.13e+05    1.81e+05
x13         8.395e+05   1.26e+05      6.647      0.000    5.91e+05    1.09e+06
x14        -2.075e+04    5.3e+04     -0.392      0.696   -1.25e+05    8.33e+04
x15         8.442e+05   6.49e+04     13.015      0.000    7.17e+05    9.72e+05
x16         8.596e+04   5.65e+04      1.520      0.129   -2.51e+04    1.97e+05
x17         7.375e+05   6.81e+04     10.828      0.000    6.04e+05    8.71e+05
x18          4.27e+05   7.54e+04      5.666      0.000    2.79e+05    5.75e+05
x19         3.807e+05   6.41e+04      5.939      0.000    2.55e+05    5.07e+05
x20         1.578e+04   6.92e+04      0.228      0.820    -1.2e+05    1.52e+05
==============================================================================
Omnibus:                       97.909   Durbin-Watson:                   1.209
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              258.281
Skew:                           0.895   Prob(JB):                     8.22e-57
Kurtosis:                       5.859   Cond. No.                     8.92e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.03e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [127]:
X_train, X_test, t_train, t_test = train_test_split(X, t, test_size = 0.30)

model = LinearRegression()  
model.fit(X_train, t_train)

score = model.score(X_test, t_test)
score

0.6785023379635791

## Improving Model Accuracy