# Experiment 3 - Feature Selection using Backward Elimination

## Theory
The significance level is the amount of change a feature will affect towards the final output i.e. how important is this feature and how much it affects the final output. Generally, we take 5% or 0.05 significance level by default.

p-value refers to the hypothesis of the significance level.

Let’s say you have a friend who says that a feature is absolutely of no use. (that is called as null hypothesis). The higher the p-value’s value is, the more he is correct and vice versa.

p-value goes from 0 to 1.

So say column 1 has p-value of 0.994, null hypothesis is true i.e. this column does not provide any noticeable change to the output and can be easily removed without consequences.

Now, column 2 has a p-value of 0.001, null hypothesis is false i.e. is provides very significant change to the output.

Where do we draw the line of something being significant or not? Well that is where significance level comes in.

In our case we won’t consider any p-values over 0.05.

## Importing and fitting data

Importing dependencies.

In [234]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler

import pandas as pd
import numpy as np

import statsmodels.api as sm

Read data from a csv file.

In [235]:
data = pd.read_csv('housing-data.csv')
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [236]:
data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [237]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [238]:
data.isna().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [239]:
data.shape

(545, 13)

In [240]:
categoricalColumns = data.select_dtypes(include='O').keys()
categoricalColumns

Index(['mainroad', 'guestroom', 'basement', 'hotwaterheating',
       'airconditioning', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [241]:
categoricalDf = pd.read_csv('housing-data.csv', usecols=categoricalColumns)
categoricalDf.head()

,mainroad,guestroom,basement,hotwaterheating,airconditioning,prefarea,furnishingstatus
0,yes,no,no,no,yes,yes,furnished
1,yes,no,no,no,yes,no,furnished
2,yes,no,yes,no,no,yes,semi-furnished
3,yes,no,yes,no,yes,yes,furnished
4,yes,yes,yes,no,yes,no,furnished

In [242]:
for column in categoricalDf.columns:
    print(column, ':', len(categoricalDf[column].unique()))

mainroad : 2
guestroom : 2
basement : 2
hotwaterheating : 2
airconditioning : 2
prefarea : 2
furnishingstatus : 3

In [243]:
data = pd.get_dummies(data, categoricalColumns)
data.head()

,price,area,bedrooms,bathrooms,stories,parking,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,...,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,2,0,1,1,0,...,0,1,0,0,1,0,1,1,0,0
1,12250000,8960,4,4,4,3,0,1,1,0,...,0,1,0,0,1,1,0,1,0,0
2,12250000,9960,3,2,2,2,0,1,1,0,...,1,1,0,1,0,0,1,0,1,0
3,12215000,7500,4,2,2,3,0,1,1,0,...,1,1,0,0,1,0,1,1,0,0
4,11410000,7420,4,1,2,2,0,1,0,1,...,1,1,0,0,1,1,0,1,0,0

In [244]:
X = data.drop(["price"], axis=1)
t = data["price"]

In [245]:
X.head()

,area,bedrooms,bathrooms,stories,parking,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,basement_no,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,7420,4,2,3,2,0,1,1,0,1,0,1,0,0,1,0,1,1,0,0
1,8960,4,4,4,3,0,1,1,0,1,0,1,0,0,1,1,0,1,0,0
2,9960,3,2,2,2,0,1,1,0,0,1,1,0,1,0,0,1,0,1,0
3,7500,4,2,2,3,0,1,1,0,0,1,1,0,0,1,0,1,1,0,0
4,7420,4,1,2,2,0,1,0,1,0,1,1,0,0,1,1,0,1,0,0

In [246]:
t.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [247]:
X = MinMaxScaler().fit_transform(X)

In [248]:
X = X[:, :].tolist()
t = t[:].tolist()

In [249]:
X = sm.add_constant(X)
 
result = sm.OLS(t, X).fit()

print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.682
Model:                            OLS   Adj. R-squared:                  0.674
Method:                 Least Squares   F-statistic:                     87.52
Date:                Thu, 02 Feb 2023   Prob (F-statistic):          9.07e-123
Time:                        23:45:02   Log-Likelihood:                -8331.5
No. Observations:                 545   AIC:                         1.669e+04
Df Residuals:                     531   BIC:                         1.675e+04
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       8.235e+05   4.79e+04     17.207      0.000    7.29e+05    9.17e+05
x1          3.552e+06   3.53e+05     10.052      0.000    2.86e+06    4.25e+06
x2          5.739e+05   3.63e+05      1.581      0.114   -1.39e+05    1.29e+06
x3          2.963e+06    3.1e+05      9.555      0.000    2.35e+06    3.57e+06
x4          1.353e+06   1.93e+05      7.026      0.000    9.74e+05    1.73e+06
x5          8.313e+05   1.76e+05      4.735      0.000    4.86e+05    1.18e+06
x6          2.011e+05   7.98e+04      2.520      0.012    4.43e+04    3.58e+05
x7          6.224e+05   6.99e+04      8.901      0.000    4.85e+05     7.6e+05
x8          2.615e+05   6.54e+04      3.998      0.000    1.33e+05     3.9e+05
x9           5.62e+05   7.45e+04      7.549      0.000    4.16e+05    7.08e+05
x10         2.367e+05   6.05e+04      3.913      0.000    1.18e+05    3.55e+05
x11         5.868e+05   5.97e+04      9.823      0.000    4.69e+05    7.04e+05
x12          -1.6e+04      1e+05     -0.159      0.874   -2.13e+05    1.81e+05
x13         8.395e+05   1.26e+05      6.647      0.000    5.91e+05    1.09e+06
x14        -2.075e+04    5.3e+04     -0.392      0.696   -1.25e+05    8.33e+04
x15         8.442e+05   6.49e+04     13.015      0.000    7.17e+05    9.72e+05
x16         8.596e+04   5.65e+04      1.520      0.129   -2.51e+04    1.97e+05
x17         7.375e+05   6.81e+04     10.828      0.000    6.04e+05    8.71e+05
x18          4.27e+05   7.54e+04      5.666      0.000    2.79e+05    5.75e+05
x19         3.807e+05   6.41e+04      5.939      0.000    2.55e+05    5.07e+05
x20         1.578e+04   6.92e+04      0.228      0.820    -1.2e+05    1.52e+05
==============================================================================
Omnibus:                       97.909   Durbin-Watson:                   1.209
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              258.281
Skew:                           0.895   Prob(JB):                     8.22e-57
Kurtosis:                       5.859   Cond. No.                     8.92e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.03e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [250]:
X_train, X_test, t_train, t_test = train_test_split(X, t, test_size = 0.30)

model = LinearRegression()  
model.fit(X_train, t_train)

score = model.score(X_test, t_test)
score

0.6285534175371766

## Improving Model Accuracy

In [257]:
X.shape

(545, 21)

In [258]:
constValues = np.arange(1, 21, 1)
constValues

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

### Iteration 1
Checking all the features to find the highest p-valued one.

In [259]:
X_opt = X[:, constValues]

11, 20, 2, 14

regressor_OLS = sm.OLS(t, X_opt).fit()

print(regressor_OLS.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.682
Model:                            OLS   Adj. R-squared:                  0.674
Method:                 Least Squares   F-statistic:                     87.52
Date:                Thu, 02 Feb 2023   Prob (F-statistic):          9.07e-123
Time:                        23:46:37   Log-Likelihood:                -8331.5
No. Observations:                 545   AIC:                         1.669e+04
Df Residuals:                     531   BIC:                         1.675e+04
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1          3.552e+06   3.53e+05     10.052      0.000    2.86e+06    4.25e+06
x2          5.739e+05   3.63e+05      1.581      0.114   -1.39e+05    1.29e+06
x3          2.963e+06    3.1e+05      9.555      0.000    2.35e+06    3.57e+06
x4          1.353e+06   1.93e+05      7.026      0.000    9.74e+05    1.73e+06
x5          8.313e+05   1.76e+05      4.735      0.000    4.86e+05    1.18e+06
x6          3.246e+05   8.36e+04      3.883      0.000     1.6e+05    4.89e+05
x7          7.459e+05   7.11e+04     10.484      0.000    6.06e+05    8.86e+05
x8           3.85e+05   6.69e+04      5.751      0.000    2.53e+05    5.16e+05
x9          6.855e+05   7.83e+04      8.757      0.000    5.32e+05    8.39e+05
x10         3.602e+05   6.38e+04      5.648      0.000    2.35e+05    4.85e+05
x11         7.103e+05   6.28e+04     11.302      0.000    5.87e+05    8.34e+05
x12         1.075e+05    9.8e+04      1.097      0.273   -8.51e+04       3e+05
x13          9.63e+05   1.31e+05      7.338      0.000    7.05e+05    1.22e+06
x14         1.028e+05   5.47e+04      1.878      0.061   -4711.315     2.1e+05
x15         9.677e+05   6.94e+04     13.950      0.000    8.31e+05     1.1e+06
x16         2.095e+05   5.81e+04      3.605      0.000    9.53e+04    3.24e+05
x17          8.61e+05   7.25e+04     11.882      0.000    7.19e+05       1e+06
x18         5.094e+05   7.69e+04      6.625      0.000    3.58e+05     6.6e+05
x19          4.63e+05   6.54e+04      7.085      0.000    3.35e+05    5.91e+05
x20         9.812e+04   7.01e+04      1.399      0.162   -3.97e+04    2.36e+05
==============================================================================
Omnibus:                       97.909   Durbin-Watson:                   1.209
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              258.281
Skew:                           0.895   Prob(JB):                     8.22e-57
Kurtosis:                       5.859   Cond. No.                     3.34e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.39e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [260]:
constValues = np.delete(constValues, np.where(constValues == 11))

X_opt = X[:, constValues]

regressor_OLS = sm.OLS(t, X_opt).fit()

print(regressor_OLS.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.682
Model:                            OLS   Adj. R-squared:                  0.674
Method:                 Least Squares   F-statistic:                     87.52
Date:                Thu, 02 Feb 2023   Prob (F-statistic):          9.07e-123
Time:                        23:46:37   Log-Likelihood:                -8331.5
No. Observations:                 545   AIC:                         1.669e+04
Df Residuals:                     531   BIC:                         1.675e+04
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1          3.552e+06   3.53e+05     10.052      0.000    2.86e+06    4.25e+06
x2          5.739e+05   3.63e+05      1.581      0.114   -1.39e+05    1.29e+06
x3          2.963e+06    3.1e+05      9.555      0.000    2.35e+06    3.57e+06
x4          1.353e+06   1.93e+05      7.026      0.000    9.74e+05    1.73e+06
x5          8.313e+05   1.76e+05      4.735      0.000    4.86e+05    1.18e+06
x6            4.5e+05   8.74e+04      5.147      0.000    2.78e+05    6.22e+05
x7          8.712e+05   7.29e+04     11.950      0.000    7.28e+05    1.01e+06
x8          5.103e+05   7.23e+04      7.054      0.000    3.68e+05    6.52e+05
x9          8.109e+05   7.93e+04     10.229      0.000    6.55e+05    9.67e+05
x10        -3.501e+05    1.1e+05     -3.175      0.002   -5.67e+05   -1.33e+05
x11         2.329e+05   9.71e+04      2.399      0.017    4.22e+04    4.24e+05
x12         1.088e+06   1.35e+05      8.041      0.000    8.22e+05    1.35e+06
x13         2.281e+05   5.77e+04      3.954      0.000    1.15e+05    3.41e+05
x14         1.093e+06   7.34e+04     14.895      0.000    9.49e+05    1.24e+06
x15         3.348e+05   6.23e+04      5.377      0.000    2.13e+05    4.57e+05
x16         9.864e+05   7.52e+04     13.113      0.000    8.39e+05    1.13e+06
x17         5.929e+05   7.83e+04      7.577      0.000    4.39e+05    7.47e+05
x18         5.466e+05   6.66e+04      8.213      0.000    4.16e+05    6.77e+05
x19         1.817e+05   7.18e+04      2.530      0.012    4.06e+04    3.23e+05
==============================================================================
Omnibus:                       97.909   Durbin-Watson:                   1.209
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              258.281
Skew:                           0.895   Prob(JB):                     8.22e-57
Kurtosis:                       5.859   Cond. No.                     2.84e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.24e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [261]:
constValues = np.delete(constValues, np.where(constValues == 20))

X_opt = X[:, constValues]

regressor_OLS = sm.OLS(t, X_opt).fit()

print(regressor_OLS.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.682
Model:                            OLS   Adj. R-squared:                  0.674
Method:                 Least Squares   F-statistic:                     87.52
Date:                Thu, 02 Feb 2023   Prob (F-statistic):          9.07e-123
Time:                        23:46:37   Log-Likelihood:                -8331.5
No. Observations:                 545   AIC:                         1.669e+04
Df Residuals:                     531   BIC:                         1.675e+04
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1          3.552e+06   3.53e+05     10.052      0.000    2.86e+06    4.25e+06
x2          5.739e+05   3.63e+05      1.581      0.114   -1.39e+05    1.29e+06
x3          2.963e+06    3.1e+05      9.555      0.000    2.35e+06    3.57e+06
x4          1.353e+06   1.93e+05      7.026      0.000    9.74e+05    1.73e+06
x5          8.313e+05   1.76e+05      4.735      0.000    4.86e+05    1.18e+06
x6          4.863e+05   9.04e+04      5.381      0.000    3.09e+05    6.64e+05
x7          9.076e+05   7.66e+04     11.849      0.000    7.57e+05    1.06e+06
x8          5.467e+05   7.51e+04      7.280      0.000    3.99e+05    6.94e+05
x9          8.472e+05   8.34e+04     10.157      0.000    6.83e+05    1.01e+06
x10        -3.501e+05    1.1e+05     -3.175      0.002   -5.67e+05   -1.33e+05
x11         2.692e+05    9.6e+04      2.804      0.005    8.06e+04    4.58e+05
x12         1.125e+06    1.4e+05      8.033      0.000     8.5e+05     1.4e+06
x13         2.645e+05   6.06e+04      4.367      0.000    1.45e+05    3.83e+05
x14         1.129e+06   7.83e+04     14.431      0.000    9.76e+05    1.28e+06
x15         3.712e+05   6.54e+04      5.679      0.000    2.43e+05       5e+05
x16         1.023e+06   7.96e+04     12.843      0.000    8.66e+05    1.18e+06
x17         4.112e+05   1.26e+05      3.258      0.001    1.63e+05    6.59e+05
x18         3.649e+05   1.09e+05      3.342      0.001     1.5e+05    5.79e+05
==============================================================================
Omnibus:                       97.909   Durbin-Watson:                   1.209
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              258.281
Skew:                           0.895   Prob(JB):                     8.22e-57
Kurtosis:                       5.859   Cond. No.                     2.84e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.17e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [232]:
constValues = np.delete(constValues, 1)

X_opt = X[:, constValues]

regressor_OLS = sm.OLS(t, X_opt).fit()

print(regressor_OLS.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.618
Model:                            OLS   Adj. R-squared:                  0.611
Method:                 Least Squares   F-statistic:                     78.53
Date:                Thu, 02 Feb 2023   Prob (F-statistic):          6.00e-104
Time:                        23:36:54   Log-Likelihood:                -8381.0
No. Observations:                 545   AIC:                         1.679e+04
Df Residuals:                     533   BIC:                         1.684e+04
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1          4.024e+06   3.82e+05     10.524      0.000    3.27e+06    4.77e+06
x2           2.03e+06   1.87e+05     10.847      0.000    1.66e+06     2.4e+06
x3          1.041e+06    1.9e+05      5.469      0.000    6.67e+05    1.41e+06
x4          4.554e+05   8.65e+04      5.266      0.000    2.86e+05    6.25e+05
x5          7.419e+05   7.48e+04      9.922      0.000    5.95e+05    8.89e+05
x6          4.235e+05   6.76e+04      6.269      0.000    2.91e+05    5.56e+05
x7          7.738e+05   8.37e+04      9.242      0.000    6.09e+05    9.38e+05
x8           3.42e+05   6.76e+04      5.062      0.000    2.09e+05    4.75e+05
x9          8.553e+05   6.07e+04     14.087      0.000    7.36e+05    9.75e+05
x10             1e+06   2.43e+05      4.109      0.000    5.22e+05    1.48e+06
x11         1.413e+05   5.66e+04      2.498      0.013    3.02e+04    2.52e+05
x12         1.056e+06   7.09e+04     14.888      0.000    9.17e+05     1.2e+06
x13         2.823e+05   5.91e+04      4.775      0.000    1.66e+05    3.99e+05
x14         9.149e+05   7.57e+04     12.092      0.000    7.66e+05    1.06e+06
x15         5.846e+05   8.27e+04      7.069      0.000    4.22e+05    7.47e+05
x16          5.19e+05   6.97e+04      7.450      0.000    3.82e+05    6.56e+05
x17         9.359e+04   7.47e+04      1.253      0.211   -5.31e+04     2.4e+05
==============================================================================
Omnibus:                      101.479   Durbin-Watson:                   1.122
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              256.874
Skew:                           0.941   Prob(JB):                     1.66e-56
Kurtosis:                       5.788   Cond. No.                     2.39e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.66e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

The final R-squared score stands at 0.618 from 0.682 after iteratively removing features.