In [53]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

import pandas as pd

In [54]:
data = pd.read_csv('naive-bayes-classification-data.csv')
data

     glucose  bloodpressure  diabetes
0         40             85         0
1         40             92         0
2         45             63         1
3         45             80         0
4         40             73         1
..       ...            ...       ...
990       45             87         0
991       40             83         0
992       40             83         0
993       40             60         1
994       45             82         0

[995 rows x 3 columns]

In [55]:
X_train, X_test, y_train, y_test = train_test_split(data[['glucose', 'bloodpressure']], data['diabetes'], test_size=0.3, random_state=42)

In [56]:
X_train

     glucose  bloodpressure
753       40             82
327       45             82
824       45             85
929       45             67
543       40             82
..       ...            ...
106       45             75
270       55             67
860       35             78
435       40             93
102       45             95

[696 rows x 2 columns]

In [57]:
X_train.shape, X_test.shape

((696, 2), (299, 2))

In [58]:
y_train

753    1
327    1
824    0
929    1
543    1
      ..
106    1
270    1
860    1
435    0
102    0
Name: diabetes, Length: 696, dtype: int64

In [59]:
y_train.shape

(696,)

In [60]:
classifier = GaussianNB()
y_predicted = classifier.fit(X_train, y_train).predict(X_test)

In [61]:
print("Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (y_test != y_predicted).sum()))

Number of mislabeled points out of a total 299 points : 20

In [62]:
print("The resultant accuracy of the Gaussian Naive Bayes classifier is: %f" % accuracy_score(y_test, y_predicted))

The resultant accuracy of the Gaussian Naive Bayes classifier is: 0.933110