### 0. Installing dependencies

In [3]:
# Importing libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import torch

### 1. Loading data

In [6]:
# Loading downloaded FIDE data into pandas
csvPath = r'C:\Users\deshi\Code\cemetery-of-culture\year-3\neural-networks\2-loading-a-dataset-into-tensors\Chess FIDE Rankings.csv'

df = pd.read_csv(csvPath)

In [11]:
# Printing the dataset
df

,rank,name,ELO,title,federation,games,birth_year
0,1,Magnus Carlsen,2864,GM,Norway,3125,1990
1,2,Liren Ding,2806,GM,China,1630,1992
2,3,Alireza Firouzja,2793,GM,France,845,2003
3,4,Fabiano Caruana,2783,GM,United States,2622,1992
4,5,Levon Aronian,2775,GM,United States,3320,1982
...,...,...,...,...,...,...,...
195,196,Boris Alterman,2608,GM,Israel,697,1970
196,197,Chithambaram VR Aravindh,2608,GM,India,535,1999
197,198,Jonas Buhl Bjerre,2608,GM,Denmark,411,2004
198,199,Surya Shekhar Ganguly,2608,GM,India,1811,1983
199,200,Vadim Milov,2608,GM,Switzerland,1583,1972

### 2. Data cleaning

In [26]:
# Updating the column names
newColList = [
    'Rank',
    'Name',
    'Rating',
    'Title',
    'Federation',
    'Games Played',
    'Year of Birth'
]

df.columns = newColList

In [27]:
# Columns of the dataset as a list
df.columns.to_list()

['Rank',
 'Name',
 'Rating',
 'Title',
 'Federation',
 'Games Played',
 'Year of Birth']

In [28]:
df

,Rank,Name,Rating,Title,Federation,Games Played,Year of Birth
0,1,Magnus Carlsen,2864,GM,Norway,3125,1990
1,2,Liren Ding,2806,GM,China,1630,1992
2,3,Alireza Firouzja,2793,GM,France,845,2003
3,4,Fabiano Caruana,2783,GM,United States,2622,1992
4,5,Levon Aronian,2775,GM,United States,3320,1982
...,...,...,...,...,...,...,...
195,196,Boris Alterman,2608,GM,Israel,697,1970
196,197,Chithambaram VR Aravindh,2608,GM,India,535,1999
197,198,Jonas Buhl Bjerre,2608,GM,Denmark,411,2004
198,199,Surya Shekhar Ganguly,2608,GM,India,1811,1983
199,200,Vadim Milov,2608,GM,Switzerland,1583,1972

In [8]:
# Check the shape of data
df.shape

(200, 7)

In [20]:
# Check the summary statistics of the 'games' column
df['games'].describe()

count     200.000000
mean     1394.185000
std       776.177129
min       277.000000
25%       785.000000
50%      1211.000000
75%      1784.000000
max      3913.000000
Name: games, dtype: float64

In [25]:
df['ELO '].describe()

count     200.000000
mean     2662.385000
std        47.208793
min      2608.000000
25%      2623.750000
50%      2650.500000
75%      2686.000000
max      2864.000000
Name: ELO , dtype: float64